{
.appVersion = "3135";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = panose;
value = (
4,
0,
0,
5,
6,
12,
0,
0,
0,
2
);
}
);
date = "2024-02-27 09:02:07 +0000";
familyName = "Nova Gothic";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
languagesystem DFLT MAH;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn MAH;
languagesystem latn NLD;

languagesystem cyrl dflt;
languagesystem cyrl BGR;
";
name = Languagesystems;
},
{
code = "";
name = name;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature zero;
feature calt;
feature cv01;
feature cv02;
feature cv03;
feature cv04;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb candraBinducomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hookabovecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	@CombiningNonTopAccents = [brevebelowcomb cedillacomb circumflexbelowcomb dieresisbelowcomb dotbelowcomb doublemacronbelowcomb macronbelowcomb ogonekcomb ringbelowcomb horncomb];
	sub [i j]' @CombiningTopAccents by [idotless jdotless];
	sub [i j]' @CombiningNonTopAccents @CombiningTopAccents by [idotless jdotless];
} ccmp_Other_1;

lookup ccmp_Other_2 {
	lookupflag 0;
	sub acutecomb macroncomb by acutecomb_macroncomb;
	sub gravecomb macroncomb by gravecomb_macroncomb;
	sub macroncomb acutecomb by macroncomb_acutecomb;
	sub macroncomb gravecomb by macroncomb_gravecomb;
} ccmp_Other_2;

lookup ccmp_latn_1 {
	lookupflag 0;
	sub brevecomb acutecomb by brevecomb_acutecomb;
	sub brevecomb gravecomb by brevecomb_gravecomb;
	sub brevecomb hookabovecomb by brevecomb_hookabovecomb;
	sub brevecomb tildecomb by brevecomb_tildecomb;
	sub circumflexcomb acutecomb by circumflexcomb_acutecomb;
	sub circumflexcomb gravecomb by circumflexcomb_gravecomb;
	sub circumflexcomb hookabovecomb by circumflexcomb_hookabovecomb;
	sub circumflexcomb tildecomb by circumflexcomb_tildecomb;
} ccmp_latn_1;

script latn;
lookup ccmp_latn_1;
";
tag = ccmp;
},
{
code = "@test1 = [f t i j];
@test2 = [f t l i j];


lookupflag IgnoreMarks;

sub @test1 @test2' by connector @test2;
";
disabled = 1;
tag = dlig;
},
{
automatic = 1;
code = "lookup locl_noScript_0 {
	language MAH;
	sub commaaccentcomb by commaaccentcomb.loclMAH;
} locl_noScript_0;

lookup locl_latn_0 {
	script latn;
	language AZE;
	sub i by idotaccent;
	language CRT;
	sub i by idotaccent;
	language KAZ;
	sub i by idotaccent;
	language TAT;
	sub i by idotaccent;
	language TRK;
	sub i by idotaccent;
} locl_latn_0;

lookup locl_latn_1 {
	script latn;
	language ROM;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
	language MOL;
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;

lookup locl_latn_2 {
	script latn;
	language MAH;
	sub Lcommaaccent by Lcommaaccent.loclMAH;
	sub Ncommaaccent by Ncommaaccent.loclMAH;
	sub lcommaaccent by lcommaaccent.loclMAH;
	sub ncommaaccent by ncommaaccent.loclMAH;
} locl_latn_2;

lookup locl_latn_3 {
	script latn;
	language NLD;
	sub iacute j' by jacute;
	sub Iacute J' by Jacute;
} locl_latn_3;

lookup locl_cyrl_0 {
	script cyrl;
	language BGR;
	sub ka-cy by ka-cy.loclBGR;
} locl_cyrl_0;
";
tag = locl;
},
{
automatic = 1;
code = "sub zero by zero.zero;
";
tag = zero;
},
{
code = "@numbers = [zero zero.zero one two three four five six seven eight nine];

sub @numbers colon' @numbers by colon.centered;
";
tag = calt;
},
{
automatic = 1;
code = "sub I by I.cv01;
sub Iacute by Iacute.cv01;
sub Icaron by Icaron.cv01;
sub Icircumflex by Icircumflex.cv01;
sub Idieresis by Idieresis.cv01;
sub Idotaccent by Idotaccent.cv01;
sub Igrave by Igrave.cv01;
sub Imacron by Imacron.cv01;
";
tag = cv01;
},
{
automatic = 1;
code = "sub l by l.cv02;
sub lacute by lacute.cv02;
sub lcaron by lcaron.cv02;
sub ldotbelow by ldotbelow.cv02;
sub ldotbelowmacron by ldotbelowmacron.cv02;
sub lmacronbelow by lmacronbelow.cv02;
sub lslash by lslash.cv02;
";
tag = cv02;
},
{
automatic = 1;
code = "sub t by t.cv03;
sub tcaron by tcaron.cv03;
sub tcircumflexbelow by tcircumflexbelow.cv03;
sub tcommaaccent by tcommaaccent.cv03;
sub tdieresis by tdieresis.cv03;
sub tdotbelow by tdotbelow.cv03;
sub tmacronbelow by tmacronbelow.cv03;
";
tag = cv03;
},
{
code = "sub colon by colon.centered;";
tag = cv04;
}
);
fontMaster = (
{
axesValues = (
200
);
iconName = Light;
id = m01;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
pos = -150;
},
{
pos = 850;
},
{
pos = -150;
},
{
pos = 850;
}
);
name = Light;
stemValues = (
60,
60
);
},
{
axesValues = (
800
);
iconName = Bold;
id = m002;
metricValues = (
{
over = 16;
pos = 800;
},
{
over = 16;
pos = 700;
},
{
over = 16;
pos = 500;
},
{
over = -16;
},
{
over = -16;
pos = -200;
},
{
pos = -150;
},
{
pos = 850;
},
{
pos = -150;
},
{
pos = 850;
}
);
name = Bold;
stemValues = (
120,
120
);
}
);
instances = (
{
axesValues = (
200
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
type = variable;
},
{
axesValues = (
200
);
instanceInterpolations = {
m01 = 1;
};
name = Light;
weightClass = 200;
},
{
axesValues = (
400
);
instanceInterpolations = {
m002 = 0.33333;
m01 = 0.66667;
};
name = Regular;
},
{
axesValues = (
600
);
instanceInterpolations = {
m002 = 0.66667;
m01 = 0.33333;
};
name = Medium;
weightClass = 600;
},
{
axesValues = (
800
);
instanceInterpolations = {
m002 = 1;
};
isBold = 1;
name = Bold;
weightClass = 800;
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_V" = -100;
"@MMK_R_t" = -20;
"@MMK_R_v" = -80;
};
"@MMK_L_H" = {
"@MMK_R_v" = -20;
};
"@MMK_L_O" = {
"@MMK_R_A" = -30;
"@MMK_R_V" = -60;
"@MMK_R_v" = -20;
};
"@MMK_L_V" = {
"@MMK_R_A" = -100;
"@MMK_R_O" = -60;
"@MMK_R_o" = -60;
};
"@MMK_L_c" = {
"@MMK_R_H" = 20;
};
"@MMK_L_f" = {
"@MMK_R_o" = -10;
};
"@MMK_L_l2" = {
s = 0;
};
"@MMK_L_n" = {
"@MMK_R_o" = -20;
"@MMK_R_t" = -10;
};
"@MMK_L_o" = {
"@MMK_R_l" = 0;
"@MMK_R_t" = -10;
"@MMK_R_u" = -20;
"@MMK_R_v" = -40;
"@MMK_R_x" = -30;
};
"@MMK_L_r" = {
"@MMK_R_o" = -10;
};
"@MMK_L_t" = {
"@MMK_R_o" = -20;
};
"@MMK_L_v" = {
"@MMK_R_o" = -40;
p = -30;
};
"@MMK_L_x" = {
"@MMK_R_o" = -30;
};
B = {
"@MMK_R_A" = -20;
};
F = {
"@MMK_R_A" = -40;
};
K = {
"@MMK_R_O" = -60;
};
L = {
U = -30;
};
R = {
"@MMK_R_o" = -40;
};
U = {
"@MMK_R_A" = -40;
"@MMK_R_H" = 20;
};
a = {
"@MMK_R_v" = -30;
};
k = {
"@MMK_R_o" = -40;
s = -30;
};
};
m002 = {
"@MMK_L_A" = {
"@MMK_R_O" = -50;
"@MMK_R_V" = -130;
"@MMK_R_t" = -40;
"@MMK_R_v" = -100;
J = -40;
S = -20;
U = -40;
};
"@MMK_L_H" = {
"@MMK_R_v" = -30;
};
"@MMK_L_O" = {
"@MMK_R_A" = -50;
"@MMK_R_V" = -50;
"@MMK_R_v" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_O" = -50;
"@MMK_R_o" = -100;
J = -140;
S = -40;
};
"@MMK_L_c" = {
"@MMK_R_H" = 20;
};
"@MMK_L_f" = {
"@MMK_R_o" = -10;
};
"@MMK_L_o" = {
"@MMK_R_t" = -10;
"@MMK_R_v" = -50;
"@MMK_R_x" = -40;
};
"@MMK_L_r" = {
"@MMK_R_o" = -20;
};
"@MMK_L_t" = {
"@MMK_R_o" = -10;
};
"@MMK_L_v" = {
"@MMK_R_o" = -50;
p = -20;
};
"@MMK_L_x" = {
"@MMK_R_o" = -40;
};
B = {
"@MMK_R_A" = -30;
};
C = {
"@MMK_R_V" = -20;
};
F = {
"@MMK_R_A" = -30;
};
L = {
U = -40;
};
R = {
"@MMK_R_o" = -20;
};
S = {
"@MMK_R_A" = -20;
"@MMK_R_V" = -30;
};
U = {
"@MMK_R_A" = -40;
"@MMK_R_H" = 20;
};
k = {
"@MMK_R_o" = -60;
s = -30;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
filter = "script == \"han\"";
type = descender;
},
{
filter = "script == \"han\"";
type = ascender;
},
{
filter = "script == \"kana\"";
type = descender;
},
{
filter = "script == \"kana\"";
type = ascender;
}
);
properties = (
{
key = designers;
values = (
{
language = dflt;
value = Aaron212;
}
);
},
{
key = designerURL;
value = "https://aaron212.top";
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2024 Aarn212, with Reserved Font Name \"Nova Gothic\".";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org/";
}
);
},
{
key = licenseURL;
value = "https://openfontlicense.org/";
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Open-source, variable, gemotric Sans-serif font";
}
);
}
);
stems = (
{
name = Horizontal;
},
{
horizontal = 1;
name = Vertical;
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 1;
}
