(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adieresis,
Adieresismacron,
Adotbelow,
Agrave,
Ahookabove,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEmacron,
B,
Bdotbelow,
Bstroke,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Eth,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dmacronbelow,
Dtail,
E,
Eacute,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Emacron,
Eogonek,
Eopen,
Ereversed,
Esh,
Etilde,
Schwa,
F,
Fhook,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
Hturned,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nhookleft,
Nmacronbelow,
Ntilde,
Eng,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odieresis,
Odieresismacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Saltillo,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
I.cv01,
Iacute.cv01,
Icaron.cv01,
Icircumflex.cv01,
Idieresis.cv01,
Idotaccent.cv01,
Igrave.cv01,
Imacron.cv01,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adieresis,
adieresismacron,
adotbelow,
agrave,
ahookabove,
"alpha-latin",
"alphaturned-latin",
amacron,
aogonek,
aring,
atilde,
aturned,
ae,
aemacron,
b,
bdotbelow,
bhook,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
eth,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dhook,
dmacronbelow,
dmiddletilde,
dtail,
dzaltone,
e,
eacute,
ecaron,
ecedilla,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
emacron,
eogonek,
ereversed,
esh,
etilde,
eturned,
schwa,
f,
g,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
gmacron,
gsingle,
gstroke,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hhook,
hmacronbelow,
hturned,
i,
idotless,
iacute,
icaron,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
ij,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
khook,
kmacronbelow,
l,
lacute,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldotbelow,
ldotbelowmacron,
lhookretroflex,
lmacronbelow,
lslash,
lzdigraph,
m,
macute,
mdotaccent,
mdotbelow,
mlonglegturned,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
nhookleft,
nmacronbelow,
ntilde,
eng,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odieresis,
odieresismacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rlongleg,
rlonglegturned,
rmacronbelow,
rturned,
s,
sacute,
saltillo,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdieresis,
tdotbelow,
tmacronbelow,
tretroflexhook,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
wturned,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
yturned,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
l.cv02,
lacute.cv02,
lcaron.cv02,
ldotbelow.cv02,
ldotbelowmacron.cv02,
lmacronbelow.cv02,
lslash.cv02,
lzdigraph.cv02,
t.cv03,
tcaron.cv03,
tcircumflexbelow.cv03,
tcommaaccent.cv03,
tdieresis.cv03,
tdotbelow.cv03,
tmacronbelow.cv03,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
lcommaaccent.loclMAH.cv02,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Ka-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"Ha-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Dze-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Ya-cy",
"Ustraight-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Imacron-cy",
"Idieresis-cy",
"We-cy",
"a-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ii-cy",
"iishort-cy",
"ka-cy",
"o-cy",
"er-cy",
"es-cy",
"u-cy",
"ushort-cy",
"ha-cy",
"dze-cy",
"i-cy",
"yi-cy",
"je-cy",
"shha-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"we-cy",
"ka-cy.loclBGR",
Alpha,
Beta,
Gamma,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Chi,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Iotadieresis,
Upsilondieresis,
alpha,
beta,
eta,
theta,
iota,
kappa,
lambda,
mu,
omicron,
pi,
tau,
iotatonos,
iotadieresis,
iotadieresistonos,
omicrontonos,
alphatonos,
etatonos,
"hamza-ar",
uni4E9A,
uni4ED1,
uni4F26,
uni5973,
uni5973.loclZHH,
uni5A05,
uni65B0,
uni661F,
uni9ED1,
"a-hira",
"i-hira",
"u-hira",
"e-hira",
"o-hira",
"ka-hira",
"a-kata",
"ku-kata",
"ko-kata",
"go-kata",
"si-kata",
"tusmall-kata",
"no-kata",
"ha-kata",
"ba-kata",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
fraction,
.notdef,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
colon.centered,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
section,
copyright,
degree,
bar,
brokenbar,
dagger,
cent,
currency,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
plusminus,
approxequal,
asciitilde,
asciicircum,
infinity,
micro,
partialdiff,
percent,
perthousand,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
"brevecomb-cy",
tonos,
dieresistonos,
dieresiscomb,
dotaccentcomb,
gravecomb,
gravecomb_macroncomb,
acutecomb,
acutecomb_macroncomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
hookabovecomb,
candraBinducomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
circumflexbelowcomb,
brevebelowcomb,
macronbelowcomb,
doublemacronbelowcomb,
commaaccentcomb.loclMAH,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
commareversedmod,
Delta,
connector
)